# Firecrawl Configuration (Local Instance)
FIRECRAWL_BASE_URL=http://localhost:3002  # URL of your local Firecrawl instance

# API Configuration
PORT=3005
API_KEY=your_api_key_here  # Generate a secure key for production
NODE_ENV=development       # Use 'production' in production environment

# OpenAI Configuration
OPENAI_KEY=your_openai_key
CONTEXT_SIZE=128000
# If you want to use other OpenAI compatible API, add the following below:
# OPENAI_ENDPOINT=http://localhost:11434/v1
# OPENAI_MODEL=llama3.1
